<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/prism.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/custom.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/social.css"}}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        <div class="testimonials inner">
            <h3>Ce que les lecteurs disent</h3>
            <div class="slider">
                <div class="post-card-content testimonial">
                    <img src="https://i.imgur.com/aP7QmYC.jpg" />
                    <h3>Carl Chenet</h3>
                    <section class="post-card-excerpt">
                        <q>“Article le plus consulté du Courrier du hacker de la semaine. Merci à lui, excellent article !”</q>
                    </section>
                </div>
                <div class="post-card-content testimonial">
                    <img src="https://i.imgur.com/v6phIoH.jpg" />
                    <h3>Louis-Olivier Brassard</h3>
                    <section class="post-card-excerpt">
                        <q>“Un blogue de grande qualité, avec plein d'idées pour se faire une indépendance numérique.”</q>
                    </section>
                </div>
                {{!--  <div class="post-card-content testimonial">
                    <img src="https://i.imgur.com/Z3F7dR2.jpg" />
                    <h3>Tristan Cognard</h3>
                    <section class="post-card-excerpt">
                        <q>“Merci pour votre site que j'ai découvert aujourd'hui, il est excellent, c'est pour moi une mine d'or ! Il va m'apporter beaucoup de bonnes choses, je le sent.”</q>
                    </section>
                </div>  --}}
                <div class="post-card-content testimonial">
                    <img src="https://i.imgur.com/wqBfldj.jpg" />
                    <h3>Hito</h3>
                    <section class="post-card-excerpt">
                        <q>“Il est vraiment cool ton blog, continue !”</q>
                    </section>
                </div>
                <div class="post-card-content testimonial">
                    <img src="https://i.imgur.com/QHpivHH.jpg" />
                    <h3>Anonyme</h3>
                    <section class="post-card-excerpt">
                        <q>“Merci pour ce blog génial que je viens de découvrir, j'adore !.”</q>
                    </section>
                </div>
                <div class="post-card-content testimonial">
                    <img src="https://i.imgur.com/QHpivHH.jpg" />
                    <h3>Anonyme</h3>
                    <section class="post-card-excerpt">
                        <q>“Ce blog est vraiment génial, merci infiniment.”</q>
                    </section>
                </div>
            </div>
        </div>

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    <a href="#subscribe">S'abonner</a>
                    <a href="mailto:contact+blog@ston3o.me" target="_blank">Me contacter</a>
                </nav>
            </div>
        </footer>

    </div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.members}}
    <div class="subscribe-success-message">
        <a class="subscribe-close" href="javascript:;"></a>
        {{t "You've successfully subscribed to {blogtitle}!" blogtitle=@blog.title}}
    </div>

    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @site.logo}}
                <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <div class="subscribe-form">
                <h1 class="subscribe-overlay-title">Rejoignez les <span class="subscribers"></span> abonnés</h1>
                <p class="subscribe-overlay-description">Recevez de temps en temps, en exclusivité, des conseils, astuces, découvertes, outils et lectures...</p>
                <form data-members-form="subscribe">
                    <div class="form-group">
                        <input class="subscribe-email" data-members-email placeholder="{{ t "Enter your email" }}" autocomplete="false" />
                        <button class="button primary" type="submit">
                            <span class="button-content">{{ t "Receive private emails" }}</span>
                            <span class="button-loader">{{> "icons/loader"}}</span>
                        </button>
                    </div>
                    <div class="message-success">
                        <strong>{{ t "Great!" }}</strong> {{t "Check your inbox and click the link to confirm your subscription." }}
                    </div>
                    <div class="message-error">
                        {{ t "Please enter a valid email address!" }}
                    </div>
                </form>
                <p class="subscribe-overlay-secure">🔒 100% sécurisé - Votre adresse email ne sera jamais cédée ni revendue.<br /> Vous restez libre de vous désinscrire à tout moment en 1 clic.</p>
            </div>
        </div>
    </div>
    {{/if}}

    {{!-- jQuery, required for fitvids --}}
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    {{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
    <script src="{{asset "built/casper.js"}}"></script>
    <script type="text/javascript" src="{{asset "built/prism.js"}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    {{!-- Scripts for Members subscription --}}
    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');

        $(document).ready(function () {
            if (action == 'subscribe') {
                $('body').addClass("subscribe-success");
            }

            $('.subscribe-success-message .subscribe-close').click(function () {
                $('.subscribe-success-message').addClass('close');
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-button').click(function() {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });
        });

        // Subscribe form
        document.onmouseout = (e) => {
            if( e.clientY < 0 && !localStorage.getItem('exitintent')) {
                window.location = (""+window.location).replace(/#[A-Za-z0-9_]*$/,'')+"#subscribe"
                localStorage.setItem('exitintent', 'true');
            }
        };
        document.onkeydown = function(evt) {
            evt = evt || window.event;
            if (evt.keyCode == 27) {
                [... document.querySelectorAll('.subscribe-close')].map(closeBtn => closeBtn.click());
            }
        };
        fetch("https://store.zapier.com/api/records?secret=GodoRihdRuwd1~")
            .then(d => d.json().then(({subscribers}) => [... document.querySelectorAll('.subscribers')].map(span => span.innerHTML = parseInt(subscribers))));
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
