{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
    <progress id="reading-progress" class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<div class="post-head" style="background-image:url({{feature_image}});">
    <div class="container align-center">
        <div style="position: relative;">
            {{#if tags}}
            <span class="category">{{tags separator=", "}}</span>
            {{/if}}
            <h1 class="title">{{title}}</h1>

            <div class="post-meta">
                {{#foreach authors}}
                Par <a class="author" href="{{url}}" rel="author">
                    <span class="name">{{name}}</span>
                </a>
                {{/foreach}}
                <time class="time" datetime="{{date format="YYYY-MM-DD HH:MM:SS"}}" itemprop="datePublished">Le {{date format="DD MMMM YYYY"}}</time>
            </div>
        </div>
    </div>
</div>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>
            </section>

            <section style="text-align: center; margin: 30px 0;">
                {{> "share-links" fullurl=(url absolute="true") }}
            </section>

            <section class="post-full-comments">
                <h3>{{> "icons/comments" }} Laisser un commentaire</h3>
                <div id="commento"></div>
                <script defer src="https://commento.ston3o.me/js/commento.js"></script>
            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.subscribers}}
            <section class="subscribe-form" style="margin-top: 50px; margin-bottom: 0px;">
                <h3 class="subscribe-form-title">Envie d'en savoir plus ?</h3>
                <p>Abonnes-toi et je t'enverrai de temps en temps, en exclusivité, des conseils, astuces, découvertes, outils et lectures.</p>
                {{subscribe_form button_class="black" placeholder="youremail@example.com"}}
                <p style="margin-top: 10px; font-size: 15px;">🔒 Votre adresse email ne sera jamais cédée ni revendue. Vous pouvez vous désinscrire à tout moment.</p>
            </section>
            {{/if}}
        </article>
    </div>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {{#if primary_tag}}
            {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
                {{#if related_posts}}
                <article class="read-next-card"
                    {{#if ../primary_tag.feature_image}}
                        style="background-image: url({{img_url ../primary_tag.feature_image size="m"}})"
                    {{else}}
                        {{#if @site.cover_image}}
                            style="background-image: url({{img_url @site.cover_image size="m"}})"{{/if}}
                    {{/if}}
                >
                    <header class="read-next-card-header">
                        <small class="read-next-card-header-sitetitle">&mdash; {{@site.title}} &mdash;</small>
                        {{#../primary_tag}}
                        <h3 class="read-next-card-header-title"><a href="{{url}}">{{name}}</a></h3>
                        {{/../primary_tag}}
                    </header>
                    <div class="read-next-divider">{{> "icons/infinity"}}</div>
                    <div class="read-next-card-content">
                        <ul>
                            {{#foreach related_posts}}
                            <li><a href="{{url}}">{{title}}</a></li>
                            {{/foreach}}
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='Voir les % articles'}} →</a>
                    </footer>
                </article>
                {{/if}}
            {{/get}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#next_post}}
                {{> "post-card"}}
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
                {{> "post-card"}}
            {{/prev_post}}

        </div>
    </div>
</aside>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
    // End fitVids

    var progressBar = document.querySelector('#reading-progress');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var progressMax = lastDocumentHeight - lastWindowHeight;

        progressBar.setAttribute('max', progressMax);
        progressBar.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();

});
</script>
{{/contentFor}}
